body {
  margin: 0;

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: #222;

  font-family: Georgia, serif;
}

/*LE LIVRE*/

.livre {
  display: flex;

  width: 800px;
  height: 500px;

  perspective: 1000px;

  transform-style: preserve-3d;

  overflow: hidden;

  position: relative;
}
.livre::after {
  content: "";

  position: absolute;

  left: 50%;
  top: 0;

  width: 6px;
  height: 100%;

  transform: translateX(-50%);

  background: rgba(0, 0, 0, 0.15);

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

/*LES PAGES*/

.page {
  flex: 0 0 400px;

  width: 50%;
  height: 100%;

  box-sizing: border-box;

  padding: 40px;

  background: #f3e3bd;

  color: #3b2818;

  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);

  transform-style: preserve-3d;
}

/*PAGE GAUCHE*/
.gauche {
  border-radius: 10px 0 0 10px;
}

/*PAGE DROITE*/
.droite {
  border-radius: 0 10px 10px 0;
  transform-origin: left center;
  transition: 1s;
  backface-visibility: hidden;

  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.25);

  position: relative;

  transform-style: preserve-3d;

  perspective: 1000px;

  transform: translateZ(1px);

  z-index: 2;
}

.droite.tourner {
  transform: rotateY(180deg);

  box-shadow: -15px 0 25px rgba(0, 0, 0, 0.35);
}

.droite::after {
  content: "Verso de la page";

  position: absolute;

  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #f3e3bd;

  transform: rotateY(180deg);

  backface-visibility: hidden;
}

/*TEXTE*/
.page h1,
.page h2 {
  text-align: center;
}

/*BOUTONS*/

.boutons {
  margin-top: 30px;
}
.button {
  padding: 12px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
}
